<!--
  群論勉強用一括置換計算ページ
-->

<!-- 作用させる置換要素入力フォーム -->
<mat-form-field >
    <mat-label>作用させる要素</mat-label>
    <input matInput #affect_unit (keyup.enter)="onEnter(affect_unit.value)">
  </mat-form-field>
  
  <!-- 左作用・右作用・共役作用選択ボタン -->
  <div id="buttons">
    <mat-button-toggle-group #group="matButtonToggleGroup">
      <mat-button-toggle checked value="left"
        (click)="changeAffectDirection(group.value)">
        <span class="select_affect_button">aH</span>
      </mat-button-toggle>
      <mat-button-toggle value="right"
        (click)="changeAffectDirection(group.value)">
        <span class="select_affect_button">Ha</span>
      </mat-button-toggle>
      <mat-button-toggle value="conjugate"
        (click)="changeAffectDirection(group.value)">
        <!-- 上付き文字を用いると高さが変わってしまったのでスタイル直指定 -->
        <span class="select_affect_button" style="line-height: 39px;">aHa<sup>-1</sup></span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
  <!-- 置換のサイズ変更ドロップダウン -->
  <div id="size_change">
    <mat-form-field>
      <mat-label>サイズ</mat-label>
      <mat-select matInput #unit_size
        (selectionChange)="changeUnitSize(unit_size.value)">
        <mat-option value=3>3</mat-option>
        <mat-option value=4>4</mat-option>
        <mat-option value=5>5</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <!-- 作用結果一覧 -->
  <mat-table [dataSource]="service.all_list">
    <ng-container matColumnDef="origin">
      <mat-header-cell *matHeaderCellDef>変換前</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.origin | displayUnit}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="affected">
      <mat-header-cell *matHeaderCellDef>変換後</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.affected | displayUnit}}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  