<mat-form-field >
  <mat-label>作用させる要素</mat-label>
  <input matInput #affect_unit (keyup.enter)="onEnter(affect_unit.value)">
</mat-form-field>

<div id="buttons">
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle checked value="left"
      (click)="changeAffectDirection(group.value)">
      aH
    </mat-button-toggle>
    <mat-button-toggle value="right"
      (click)="changeAffectDirection(group.value)">
      Ha
    </mat-button-toggle>
    <mat-button-toggle value="conjugate"
      (click)="changeAffectDirection(group.value)">
      aHa^-1
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-table [dataSource]="service.all_list">
  <ng-container matColumnDef="origin">
    <mat-header-cell *matHeaderCellDef>変換前</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.origin | displayUnit}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="affected">
    <mat-header-cell *matHeaderCellDef>変換後</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.affected | displayUnit}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
